# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [13]:
# Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('lego.db')
c = conn.cursor()
response = c.execute("""SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
          """).fetchall()
response

[('product_details',),
 ('product_info',),
 ('product_pricing',),
 ('product_reviews',)]

In [22]:
product_details = c.execute("""SELECT * FROM product_details
          """).fetchall()
df_details = pd.DataFrame(product_details)

In [23]:
df_details.head(2)

      0     1         2        3
0   630  blah  blahblah  Classic
1  2304  blah  blahblah   DUPLO®

In [27]:
product_info = c.execute("""SELECT * FROM product_info
          """).fetchall()
df_info = pd.DataFrame(product_info)
df_info.head(2)

      0     1  2                             3
0   630    4+  1               Brick Separator
1  2304  1½-5  1  LEGO® DUPLO® Green Baseplate

In [33]:
pd.concat(df_details, df_info)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [11]:
df = pd.DataFrame(response)
print(df.shape)
df.head()

(4, 1)

                 0
0  product_details
1     product_info
2  product_pricing
3  product_reviews

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity!